## Reading the data

In this notebook, we show how to read the dataset. 

Our dataset can be found [here](https://data.world/maxstrange/diplomacyboardgame)

In [1]:
import pandas as pd
import time
from collections import deque
import numpy as np
pd.options.mode.chained_assignment = None

In [2]:
# read the dataframes
all_games = pd.read_pickle("data/games.pkl")
all_orders = pd.read_pickle("data/orders.pkl")
all_players = pd.read_pickle("data/players.pkl")
all_turns = pd.read_pickle("data/turns.pkl")
all_units = pd.read_pickle("data/units.pkl")

In [3]:
all_games.head(3)

      id  num_turns  num_players
0  37317        166            7
1  37604         51            7
2  39337        101            7

## Detecting betrayal

What I want to do here is **to detect betrayals within a game**, using the same definitions as in the paper we have studied. Let's recall a few things, and we will explore the dataset based on those definitions.

### What are game actions ? 

Each player has **units** (one per each city a player controls) and thoses are moved using **orders**. There are 2 kinds of orders: 
- **support** order: two units join and become bigger (i.e. stronger). One player can support another.
- movement: move a unit somewhere. If it meets another player's unit, it will be a **battle**

### How to define relationships ? 

Let's follow the definitions given by the paper.

**Act of friendship**: when a player supports another.

**Act of hostility**: When a player invades another, or if a player supports an invasion to the other player's territory.

**Friendship**: a relationship between two players spanning over 3 seasons containing at least 2 **consecutive and reciprocated** acts of friendships.

**Betrayal** / **Broken friendship**: When, after being in a friendship, two players engage in at least 2 acts of hostility. 

### Additional information required for data-processing

It is important to understand the [rules of the game](https://www.playdiplomacy.com/help.php?sub_page=Game_Rules).

Here is a list of points we want to raise before starting the programming, obtained from looking at the rules.
- Each **year** is breaked down into 2 **seasons**: {'Spring', 'Fall'}.
- Each **seasons** is itself divided into several phases, called **turns** (therefore, a year is made of at least 2 turns, and not more than 5)
    - **orders**: each player submit orders to all of its units (that can be **hold**, **move**, **support** or **convoy**)
    - **retreats**: a phase that happens when some units (called **disloged units**) need to retreat. If they can't, they are destroyed
    - **builds**: only happens after the *fall retreat*. Players gain control of SCS they are occupying.
- Geographically, the game is divided into **provinces**
- some provinces are called **supply centers** (SCS) and to win a **player** must control 18 supply centers.
- Each **unit** belongs to a **player** and there can be **only 1 unit** in a province at a time, however **units** can join their force with **support order**.
- There are 2 types of **units**:  {'F' or 'A'} for {Fleet, Army}
- Each **player** is characterized by its country, encoded by a letter: {E,F,I,G,A,T,R} standing for {England, France, Italy, Germany, Austria, Turkey, Russia}

We also give an clarification for the rows of 'all_orders' (i.e. the proper orders) because we will be using those quite a lot, and it can be hard to understand. 
- orders are defined by a **game_id**, a **unit_id** and **turn_number** (which makes sense, considering all the above points). 
- each order has a field **location** which is the province of origin of the unit
- depending on the **unit_order**, here is the description of the fields

| unit_order | location                 | target                            | target_dest     |
| ---------- | ------------------------ | --------------------------------- | --------------- |
| MOVE       | initial loc. of the unit | loc. to move to                   | null            |
| HOLD       | initial loc. of the unit | null                              | null            |
| CONVOY     |                          | initial loc.                      | end goal loc.   |
| SUPPORT    |                          | loc. of unit to be supported      | its target loc. |
| BUILD      | ""                       | encoded string like 'army Berlin' |                 |
| RETREAT    | initial loc. of the unit | target loc                        |                 |
| DESTROY    | initial loc. of the unit |                                   |                 |

### What the map looks like ! 

<img src="img/map.png" width="900">

# Discovering the Dataset

Now that all of this is well-defined, let's see what we can achieve in the code. As it can be quite hard to see how to do this, let's break this down and look at one game.

In [4]:
# extract one game
game = all_games.head(1)
game_id = game.iloc[0,0]
game

      id  num_turns  num_players
0  37317        166            7

In [5]:
# for this game, extract turns, orders and units
turns = all_turns.query("game_id == {}".format(game_id))
orders = all_orders.query("game_id == {}".format(game_id))
units = all_units.query("game_id == {}".format(game_id))
orders.head()

,game_id,unit_id,unit_order,location,target,target_dest,success,reason,turn_num
11451415,37317,0,MOVE,Edinburgh,North Sea,None,1,None,1
11451416,37317,1,MOVE,Liverpool,Belgium,None,0,Illegal order replaced with Hold order,1
11451417,37317,2,HOLD,London,None,None,1,None,1
11451418,37317,3,MOVE,Marseilles,Spain,None,1,None,1
11451419,37317,4,MOVE,Paris,Burgundy,None,0,Bounced,1

## Finding **acts of friendships**

It's firstly defined by a support. However it is not enough: a player could support himself (and that's not a friendship). So we must also look at the **last previous orders** asking to **MOVE** the unit towards the support's **target** destination. This will link to a 'unit_id' (the one that followed this order) and therefore giving access to the country who made the call.

In [6]:
# first we must look at the supports that happened in this game.
supports = orders.unit_order == "SUPPORT"
orders_w_supports = orders[supports]
orders_w_supports.sample(3)

,game_id,unit_id,unit_order,location,target,target_dest,success,reason,turn_num
11451954,37317,23,SUPPORT,English Channel,Picardy,Belgium,1,None,13
11452873,37317,6,SUPPORT,Tyrolia,Bohemia,Munich,0,Supported unit has failed,33
11452884,37317,36,SUPPORT,Gulf of Lyons,Spain,Marseilles,1,None,33

In [7]:
# we want to find the countries of the supported units
# let's take one and see what we can do
support_order = orders_w_supports.iloc[-4]
# support_order = orders_w_supports.head(3).tail(1)
support_order

game_id                             37317
unit_id                                12
unit_order                        SUPPORT
location                          Galicia
target                             Vienna
target_dest                       Bohemia
success                                 0
reason         Support cut by a war - gal
turn_num                               33
Name: 11452914, dtype: object

In [8]:
# Example: there is a support from 'Vienna' to 'Bohemia' 
# we know that in one of the previous orders, someone made a move with destination 'Vienna'
target = support_order.target#.values[0]
turn_number = support_order.turn_num#.values[0]
move_order = orders.query("unit_order == 'MOVE' & target == '{}' & turn_num < {}".format(target, turn_number)).tail(1)
move_order

,game_id,unit_id,unit_order,location,target,target_dest,success,reason,turn_num
11451517,37317,20,MOVE,Galicia,Vienna,None,0,Bounced,3

In [9]:
unit_id = move_order.unit_id.values[0]
move_unit = units.query("unit_id == {}".format(unit_id))
move_unit

         game_id country type  start_turn  end_turn  unit_id
1035275    37317       R    A           0        45       20

We see that rusian was the country who had moved it's army there the last time before a support happened. Hence, 'Russia is the supported Country'.

In [10]:
# Let's look at the country who did the support
unit_id = support_order.unit_id# .values[0]
support_unit = units.query("unit_id == {}".format(unit_id))
support_unit

         game_id country type  start_turn  end_turn  unit_id
1035256    37317       A    A           0       110       12

As it turns out this **is** an act of friendship: Russia was supported by Austria, when it moved from Vienna to Bohemia, by Austrian soldiers who were in Galicia. As we can see on the map, this is perfectly coherent with the geographical position of provinces.

## A little data pre-processing won't hurt us

Now is when we realize it would be nice to have an extra information about orders: **what country passed this order ?**. This can be seen as a pre-processing step, since it will be computed only once. 

As we will see later on, we will also need the year and the season at which the order was passed, in order to find friendships with more precisions than if we use only 'year' as indicator of when an order happens. Here is how we can encode this: 
- the spring of a year is writen as the year, for instance 'Spring 1904' = 1904
- the fall of the same year is written as the year + 0.5, for instance 'Fall 1904' = 1904.5

In [11]:
# compute the country who emitted each order 
countries = orders.unit_id.apply(lambda x: units[["unit_id", "country"]].query("unit_id == {}".format(x)).country.item())
# compute the 'encoded year' at which each order was passed
turns["season_encoded"] = turns["year"] + 0.5 * (turns["season"] == "Fall")
years = orders.turn_num.apply(lambda x: turns.query("turn_num == {}".format(x)).season_encoded.item())
# update the orders
orders["country"] = countries
orders["year"] = years
orders.head(3)

,game_id,unit_id,unit_order,location,target,target_dest,success,reason,turn_num,country,year
11451415,37317,0,MOVE,Edinburgh,North Sea,None,1,None,1,E,1901.0
11451416,37317,1,MOVE,Liverpool,Belgium,None,0,Illegal order replaced with Hold order,1,E,1901.0
11451417,37317,2,HOLD,London,None,None,1,None,1,E,1901.0

So let's make the process of finding frienships more 'functional'.

## Acts of **friendships** and Acts of **hostility**

### Finding **acts of friendship**

This function is just a rewriting of all the code which was presented above.

In [12]:
def is_order_act_of_friendship(support_order):
    # only interested into SUPPORT orders
    if support_order.unit_order != "SUPPORT": return False
    
    # get the last move order to this province
    move_orders = orders.query("unit_order == 'MOVE' & target == '{}' & turn_num < {}".format(support_order.target, support_order.turn_num))
    if not len(move_orders): return False
    
    # look if the last move toward this province came from another country / player
    move_order = move_orders.iloc[-1]
    return move_order.country != support_order.country

In [13]:
# so we may add this to the orders dataframe
acts_of_friendships = orders.apply(is_order_act_of_friendship, axis = 1)
acts_of_friendships

11451415    False
11451416    False
11451417    False
11451418    False
11451419    False
            ...
11452959    False
11452964    False
11452972    False
11452976    False
11452977    False
Length: 482, dtype: bool

Good news : it's working. As we see, there is another column 'acts_friendships' which tell if this order was an act of friendships-

### Finding **acts of hostility**

The code is quite the same, just the logic is a little tweaked. 

We are looking at all **orders** with **unit_order** that is **MOVE** (*this is how and attack starts*), where the **target** is a province with a unit of another player. Again, the tricky part is to see if there is another player's unit located at this province. We must look at all **previous orders** with the same **target** done by a unit from **another country**.

In [14]:
def is_move_act_of_hostility(move_order):
    if move_order.unit_order != "MOVE": return False
    
    # get the last move orders to this province
    q = "unit_order == 'MOVE' & success == 1 & target == '{}' & turn_num < {}".format(move_order.target, move_order.turn_num)
    last_move_orders = orders.query(q)
    
    if len(last_move_orders):
        last_move_order = last_move_orders.iloc[-1]
        return move_order.country != last_move_order.country

    return False

In [15]:
acts_of_hostility = orders.apply(is_move_act_of_hostility, axis = 1)
acts_of_hostility.value_counts()

False    413
True      69
dtype: int64

## Who is friend with who

Now that we have classified our orders, let's find friends within our game. Coming back to our definition:

> Friendship is a relationship between two players spanning over 3 seasons containing at least 2 consecutives and reciprocated acts of friendships.

The difficulty comes from the identification of the country who received the support. Let's add another function to solve this problem which we will be able to call for both the acts of friendships and the acts of hostility. In both case, it's the **target province** which matters.

In [16]:
def get_target_country(order):
    """Given an order MODE or SUPPORT, it returns the country that controls the target province"""
    if order.unit_order not in ["MOVE", "SUPPORT"]: return ""
    # get the last move orders to this province
    q = "unit_order == 'MOVE' & success == 1 & target == '{}' & turn_num < {}".format(order.target, order.turn_num)
    last_move_orders = orders.query(q)
    if len(last_move_orders):
        # extract the order
        last_move_order = last_move_orders.iloc[-1]
        return last_move_order.country
    return ""

In [17]:
targets = orders.apply(get_target_country, axis = 1)
orders["target_country"] = targets


friendly_orders = orders[acts_of_friendships]
hostile_orders = orders[acts_of_hostility]

supported_countries = friendly_orders.apply(get_target_country, axis = 1)
attacked_countries = hostile_orders.apply(get_target_country, axis = 1)

#friendly_orders["target_country"] = supported_countries
#hostile_orders["target_country"] = attacked_countries

friendly_orders.head()

,game_id,unit_id,unit_order,location,target,target_dest,success,reason,turn_num,country,year,target_country
11451969,37317,6,SUPPORT,Tyrolia,Vienna,Bohemia,1,None,13,I,1903.5,
11452113,37317,12,SUPPORT,Budapest,Vienna,Galicia,1,None,16,A,1904.0,
11452118,37317,28,SUPPORT,Bohemia,Vienna,Galicia,1,None,16,A,1904.0,
11452196,37317,24,SUPPORT,Aegean Sea,Bulgaria (South Coast),Constantinople,1,None,18,I,1904.5,A
11452226,37317,28,SUPPORT,Bohemia,Tyrolia,Munich,1,None,18,A,1904.5,I

For each order in the above set , assuming the 'supporting country' is X and the 'supported country' is Y, we must look if there exist in the last 2 years: 
- at least 1 previous order with 'X supports Y'
- at least 2 previous orders with 'Y supports X'

Those acts of frienships are part of a **friendships**.

Let's create a table which will recap all friendships and potential betrayal, and then let's fill it up with the data already extracted.

In [18]:
countries = ['A', 'E', 'F', 'G', 'I', 'R', 'T']
pairs = [x+y for x in countries for y in countries if y > x]
years = np.arange(1901, friendly_orders.year.max() + 0.5, 0.5)
# create a DF with each possible friendships and each years
friendships = pd.DataFrame(columns=pairs, index = years, dtype = np.int8).fillna(0)
friendships

,AE,AF,AG,AI,AR,AT,EF,EG,EI,ER,...,FG,FI,FR,FT,GI,GR,GT,IR,IT,RT
1901.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1901.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1902.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1902.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1903.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1903.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1904.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1904.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1905.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1905.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1906.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1906.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1907.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1907.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
def get_countries_code(x,y):
    """Given two countries, it returns another string being their letter sorted alphabetically"""
    return ''.join(sorted(x + y))

In [20]:
N = 1
for i, o in friendly_orders.iterrows():
    x = o.country 
    y = o.target_country
    # this line doesn't remove frienships because we are only looking are reciprocal ones
    if y > x: continue
    # criteria 1: 2 others from the other side
    query1 = friendly_orders.query("year > {} & year <= {} & country == '{}' & target_country == '{}'".format(o.year-2, o.year, y, x))
    if len(query1) >= N:
        # criteria 2: 1 other from the same side
        query2 = friendly_orders.query("year > {} & year <= {} & country == '{}' & target_country == '{}'".format(o.year-2, o.year, x, y))
        if len(query2) >= N:
            # Those guys are friends :=) 
            code = get_countries_code(x,y)
            friendships.loc[o.year-N:o.year, code] = 1
friendships

,AE,AF,AG,AI,AR,AT,EF,EG,EI,ER,...,FT,GI,GR,GT,IR,IT,RT,FF,AA,RR
1901.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1901.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1902.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1902.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1903.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1903.5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1904.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN
1904.5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN
1905.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
1905.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
1906.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
1906.5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
1907.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
1907.5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN

In this game, Russia and Austria are friends and it seems to be the case from the begining until the end. How about Italie and Austria ? What happened to their friendship after 1905 ? 

We must also investigate to 'hostile orders' and see if a betrayal happened.

In [21]:
for i, o in hostile_orders.iterrows():
    x = o.country
    y = o.target_country
    code = get_countries_code(x,y)
    if friendships.loc[o.year, code]:
        # that means a betrayal have happened !
        # we must just verify that another hostile action happened after this
        query1 = hostile_orders.query("year >= {} & country == '{}' & target_country == '{}' ".format(o.year, x, y))
        query2 = hostile_orders.query("year >= {} & country == '{}' & target_country == '{}' ".format(o.year, y, x))
        
        friendships.loc[o.year, code] = x 
        friendships.loc[o.year+0.5:, code] = 0 
        print(x, " attacks ", y, "in ", o.year)
        print(len(query1))
        print(len(query2))
friendships

I  attacks  A in  1905.0
1
0
R  attacks  T in  1906.0
1
1
R  attacks  F in  1906.5
2
1

,AE,AF,AG,AI,AR,AT,EF,EG,EI,ER,...,FT,GI,GR,GT,IR,IT,RT,FF,AA,RR
1901.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN
1901.5,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN
1902.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN
1902.5,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN
1903.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN
1903.5,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN
1904.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,NaN,NaN
1904.5,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,1.0,NaN
1905.0,0.0,0.0,0.0,I,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,1.0,1.0
1905.5,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1.0,1.0,1.0
1906.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,R,1.0,1.0,1.0
1906.5,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,1.0,1.0
1907.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,1.0,1.0
1907.5,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,1.0,NaN

In [22]:
# which can be filtered to clomuns where there's someting to look at
cols = [col for col in friendships.columns if np.count_nonzero(friendships[col] != 0)]
friendships[cols]

       AI FR RT   FF   AA   RR
1901.0  0  0  0  NaN  NaN  NaN
1901.5  0  0  0  NaN  NaN  NaN
1902.0  0  0  0  NaN  NaN  NaN
1902.5  0  0  0  NaN  NaN  NaN
1903.0  0  0  0  NaN  NaN  NaN
1903.5  1  0  0  NaN  NaN  NaN
1904.0  1  0  0  1.0  NaN  NaN
1904.5  1  1  0  1.0  1.0  NaN
1905.0  I  1  0  1.0  1.0  1.0
1905.5  0  1  1  1.0  1.0  1.0
1906.0  0  1  R  1.0  1.0  1.0
1906.5  0  R  0  1.0  1.0  1.0
1907.0  0  0  0  1.0  1.0  1.0
1907.5  0  0  0  1.0  1.0  NaN

We see here what happened between Austria and Italy: in the Spring of 1905, Italy betrayed Austria... This is why the friendship ended.